academics {
    background-color: lightblue;
    //width: 100%;
	border: 4px solid blue;
	width:820px;
	//height:500px;
	text-align: center;
}
d_id {
	display: block;
	font-size: 22pt;
	
}
course {
    display: inline-block;
    //margin-bottom: 30pt;
    margin-left: 0px;
	//margin-right: 100px;
	background-color: yellow;
	width: 200pt;
	//white-space:nowrap;
	border: 1px solid blue;
	//float: left;
}
#btech {
	float:left;
}
#mca{
	float:right;
}
id {
    display: block;
    color: #ff0000;
    font-size: 18pt;
	text-align: center;
}
student {
    display: block;
    color: #ff0000;
    font-size: 20pt;
	background-color: cyan;
	width:200pt;
	height:30pt;
	border: 1px solid black;
	
}
rollno {
    display: inline;
    color: #0000ff;
    font-size: 15pt;
}
name {
    display: inline;
    color: #0000ff;
    font-size: 20pt;
}
